.form-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 60vh;
    justify-content: center;
    align-items: center;
  }
  
  .form-group {
    margin: 1vw;
  }
  
  .form-label {
    margin: 0.5vw;
  }
  
  .action-buttons {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
  }
  
  .alert-action {
    width: 30%;
    margin: 0.5vw;
  }